.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.bottom {
    display: flex;
}
/* ===== Адреса ===== */
.ft-address {
    margin-right: 70px;
}

.footer-address {
    width: 231px;
    height: 81px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-link {
    color: var(--header-title);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}

.footer-logo {
    color: var(--button-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address-location {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: var(--header-title);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-location:hover, 
.address-location:focus {
    color: var(--button-color);
}

.address-link {
    width: 136px;
    height: 21px;
    flex-shrink: 0;
    color: var(--address-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, 
.address-link:focus{
    color: var(--button-color);
}
/* ===== Соцмережі ===== */
.ft-social {
    margin-right: 94px;
}

.ft-social-title {
    color: var(--header-title);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ft-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--social-bcg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ft-social-link:hover,
.ft-social-link:focus {
    background-color: var(--button-color);
    outline: none;
}

.ft-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--header-title);
}
/* ===== Підписка ===== */
.subscribe-title {
    color: var(--header-title);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    gap: 12px;
}

.subscribe-field {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    color: var(--address-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    transition: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field:hover,
.subscribe-field:focus {
    outline: none;
    border: 1px solid var(--button-color);
}

.subscribe-button {
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--header-title);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--active-button);
    outline: none;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: var(--header-title);
}