.occupation {
    background-color: var(--header-title);
    padding-top: 47px;
    padding-bottom: 94px;
    text-align: center;
}

.occupation-title {
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
/* Список */
.occupation-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.occupation-item {
    position: relative;
}

.occupation-background {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    animation-name: occupation-animation;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes occupation-animation {
    0% {
        height: 70px;
    }

    20% {
        height: 294px;
    }

    40% {
        height: 70px;
    }

    60% {
        height: 147px;
    }

    80% {
        height: 70px;
    }

    100% {
        height: 294px;
    }
}

.occupation-text {
    color: var(--header-title);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}